/* SINGLE POST TEMPLATES */
body.single .dsroi-post{
  font-size:18px;
}

.dsroi-post .dashboard-btn,
.dsroi-post .entry-meta .posted-on,
.dsroi-post .post-navigation .nav-previous a,
.dsroi-post .post-navigation .nav-next a{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dsroi-post .entry-meta .posted-on
.dsroi-post .post-navigation .nav-previous a,
.dsroi-post .post-navigation .nav-next a{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dsroi-post .dashboard-btn{
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  justify-content: space-between;
  color: #292929 !important;
  text-decoration: none;
  margin-bottom: 15px;
}
.dsroi-post .dashboard-btn i{
  margin-right: 15px;
}

.dsroi-post .entry-title{
  font-weight: 700;
  margin: 0 0 1em;
  color: #000000;
  font-size: 1.6em;
}

.dsroi-post .entry-title .title-prefix{
  color: #6934c5;
}
.dsroi-post p {
  margin-bottom: 1.5em;
}
.dsroi-post a{
  color: #55299e;
}

.dsroi-post a:hover,
.dsroi-post a:focus{
  color: #3f1f7a;
  outline: 0;
}

.dsroi-post .entry-content{
  color: #1e1e1e;
  margin: 15px 0;
  line-height: 1.8;
}

.dsroi-post ul{
  list-style: disc;
}

.dsroi-post ol, .dsroi-post ul {
  margin: 0 0 1.5em 1.5em;
  padding: 0;
}

.dsroi-post article.page, .dsroi-post article.post {
  margin-bottom: 80px;
}

.dsroi-post .sow-accordion-panel-header:focus{
  outline: none !important;
}

.dsroi-post .entry-meta{
  margin: -15px 0 25px;
  font-size: .85em;
}

.dsroi-post .entry-meta .posted-on i{
  margin-right: 6px;
}

/* SINGLE POST NAVIGATION */
.dsroi-post .post-navigation .nav-previous,
.dsroi-post .post-navigation .nav-next{
  width: 50%;
}
.dsroi-post .post-navigation .nav-previous{
  float: left;
}
.dsroi-post .post-navigation .nav-next{
  float: right;
  text-align: right;
}

.dsroi-post .post-navigation .nav-previous i,
.dsroi-post .post-navigation .nav-next i{
  display: inline-block;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  margin: 5px 8px;
}

.dsroi-post .post-navigation .nav-previous i{
  float: left;
}

.dsroi-post .post-navigation .nav-next i{
  float: right;
}

/* CPT RADICAL ACTIONS */
.dsroi-radical-actions article.post {
  margin-bottom: 45px;
}

.dsroi-radical-actions .entry-title {
  color: #55299e;
}

.dsroi-radical-actions .post-container,
.dsroi-radical-actions .post-thumbnail {
  margin-top: 45px;
}

.dsroi-radical-actions .entry-content {
  margin: 0;
}

.dsroi-radical-actions .transcript-url {
  display: block;
  color: inherit;
  margin-top: 15px;
  text-decoration: none;
}

.dsroi-radical-actions .featured-img {
  min-height: 200px;
  background-color: #eeeeee;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dsroi-radical-actions .external-link {
  margin-top: 45px;
  text-align: center;
}

.dsroi-radical-actions .post-meta {
  color: #1e1e1e;
  background-color: #efefef;
  border: 1px solid #dbdbdb;
  padding: 15px 30px 15px 30px;
}

.dsroi-radical-actions .post-tags {
  color: #d03749;
}

.radical-action-post-nav .previous-post,
.radical-action-post-nav .next-post {
  display: flex;
  gap: 20px;
}

.radical-action-post-nav .next-post {
  margin-left: auto;
  justify-content: flex-end;
}

.radical-action-post-nav .post-navigation .nav-next i,
.radical-action-post-nav .post-navigation .nav-previous i {
  margin: 0;
  color: #8e8e8e;
  font-size: 25px;
}

.radical-action-post-nav .post-label,
.radical-action-post-nav .post-title {
  color: #1e1e1e;
  font-size: 18px;
  margin: 0 0 5px;
  font-weight: 700;
  line-height: 1.4em;
}

.radical-action-post-nav .next-post-inner {
  text-align: right;
}

.radical-action-post-nav .post-title {
  margin: 5px 0 0;
  color: #55229e;
  text-decoration: none;
}

@media(min-width: 768px){
  .dsroi-radical-actions .post-container {
    display: flex;
  }

  .dsroi-radical-actions .entry-content {
    width: 45%;
  }

  .dsroi-radical-actions .post-thumbnail {
    margin: 0;
    width: 55%;
    padding-left: 30px;
  }

}

@media(max-width:479px){
  .dsroi-post .post-navigation .nav-previous,
  .dsroi-post .post-navigation .nav-next{
    float: none;
    width: 100%;
  }
  .dsroi-post .post-navigation .nav-previous a,
  .dsroi-post .post-navigation .nav-next a{
    display: block;
  }
  .dsroi-post .post-navigation .nav-previous{
    margin-bottom: 15px;
  }

}
